@using   WebApplication1.Models;
@model List<Student>

@*<ul>
	@foreach(Student student in ViewBag.Students)
	{
		<li>@student.Name-@student.Surname -@student.Point</li>
	}

	@foreach(Student student in (List<Student>)ViewData["Students"])
	{
	<li>@student.Name-@student.Surname -@student.Point</li>
	}


	@foreach (Student student in (List<Student>)TempData["Students"])
	{
		<li>@student.Name-@student.Surname -@student.Point</li>
	}

	</ul>*@

	<ul>
	@foreach(var student in Model)
	{
		<li>@student.Name-@student.Surname -@student.Point</li>
	}
</ul>